.course {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.course-main {
  display: flex;
  justify-content: space-between;

  .course-details {
    width: 75%;
  
    .course-title {
      font-size: 15px;
      font-weight: 600;
    }
  }

  .course-quality {
    font-size: 25px;
  }
}

.course-desc {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}
