.results-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;

  &.expanded {
    max-height: 100%;
    overflow: auto;
  }
}

@media only screen and (max-width: 500px) {
  .results-container {
    align-self: stretch;
  }
}
